.topBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.topBar > span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}